body {
    background-color: #36393F;
    color: #DCDDDE;
    font-family: sans-serif;
}

#your-username-is {
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
}

#username {
    text-align: center;
    font-size: 50px;
    margin: auto;
    display: table;
    padding-bottom: 20px;
}

#username-refresh-div {
    text-align: center;
    padding-bottom: 20px;
}

#copy-to-clipboard {
    text-align: center;
    margin: auto;
    display: table;
    padding-bottom: 20px;
}

#username::selection {
    background-color: red;
    color: blue;
}